.teamHeader h2 {
  position: relative;
  font-weight: 400;
  font-size: 175%;
  margin-top: 25%;
  color: #fff;
  vertical-align: center;
}.teamText {
  max-width: 1040px;
  margin: auto;
}

.team-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-image:
    linear-gradient(to bottom, rgba(17,17,17,0.95), rgba(255,213,79,0.4)),
    url('assets/teamphoto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.teamBody {
  width: 100%;
  margin-top: 12%;
  padding: 5%;
  color: #111111;
}

.memberName {
  opacity: 0.5;
}

.leadName {
  opacity: 0.8;
}

.noBullets {
    list-style-type: none;
    padding: 0;
}

.teamBlock {
  display: inline-block;
  width: 28%;
  margin: 2%;
  font-size: 1.5vh;
  margin-bottom: 5%;
  margin-top: 3%;
  vertical-align: top;
}

.leadBlock {
  display: inline-block;
  width: 20%;
  margin: 10%;
  font-size: 1.5vh;
  margin-bottom: 5%;
  margin-top: 3%;
  vertical-align: top;
}


.teamRow {
  width: 100%;
}

.leadRow {
  width: 100%;
  align-items: center;
}

.captainRow {
  width: 100%;
  text-align: center;
}

.leadColumn {
  width: 100%;
  margin: 0px auto 0px auto;
  text-align: center;
}

.teamColumn {
  display: inline-block;
  width: 50%;
  margin: 0px auto 0px auto;
  vertical-align: top;
  text-align: center;
}


.blockHeading {
  padding: 5%;
  text-align: left;
}

.blockText {
  margin-left: 5%;
  text-align: left;
}

.leadImage {
  width: 100%;
  height: auto;
}

.rightAlign {
  float: right;
}

li {
  margin: 2px;
}


.teamPaper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-width: 1040px;
  padding: 30px;
  position: absolute;
  top: 40%;
  width: 50%;
  left: 25%;
}

.teamPaper h2 {
  margin-top: 0;
  font-weight: 500;
}

.teamPaper p {
  font-weight: 300;
}

.verticalRuler {
  display: inline-block;
  position: absolute;
  left: 50%;
  height: 70vh;
  width: 2px;
  background: #111111;
  opacity: 0.2;
  border-radius: 100%;
  margin-top: 6%;
}

