#main-nav {
  position: absolute;
  left: 0;
  top: 20px;
  right: 0;
  z-index: 500;
  padding: 10px;
}

.primary-nav {
  width: 1100px;
}

#main-nav a:link,
#main-nav a:active {
  color: #fff;
  text-decoration: none;
  padding: 0px 15px;
}

#main-nav a:hover {
  color: hsla(0, 0%, 100%, 0.5);
  text-decoration: none;
  transition: all 0.2s;
}

#main-nav ul {
  list-style: none;
}

#main-nav li {
  display: inline-block;
}

#main-nav img {
  padding-top: 5px;
}
