.mediaThanks {
  max-width: 1040px;
  margin: auto;
}

.mediaHeader h2 {
  position: relative;
  font-weight: 400;
  font-size: 175%;
  margin-top: 20%;
  color: #fff;
  font-weight: 400;
  vertical-align: center;
  font-size: 175%;
}

.media-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-image:
    linear-gradient(to bottom, rgba(17,17,17,0.95), rgba(255,213,79,0.4)),
    url('assets/media.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.mediaBody {
  width: 100%;
  margin-top: 12%;
}

.medias {
  max-width: 1040px;
  margin: 0 auto;
  width: 50%;
}
