#footer-nav {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 45px 10px 30px 10px;
  text-align: center;
  margin-top: 30px;
  width: 100%;
  border-top: 1px #d5dbe0 solid;
}

#footer-nav a {
  padding: 10px;
}

#footer-nav a:link,
#footer-nav a:active {
  color: #8898aa;
  text-decoration: none;
}

.footer-icons {
  fill: #111111;
}

.footer-icons:hover {
  fill: #32325d;
  transition: all 0.2s;
}

p {
  padding-top: 10px;
  color: #555555;
  font-size: 70%;
  font-weight: 300;
}
