#footer-nav {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  width: 100%;
}

#footer-nav a {
  padding: 10px;
}

#footer-nav a:link,
#footer-nav a:active {
  color: #8898aa;
  text-decoration: none;
}

.footer-icons {
  fill: #111111;
}

.footer-icons:hover {
  fill: #32325d;
  transition: all 0.2s;
}

p {
  font-weight: 300;
}
