.container {
  margin: auto;
}


.Paper {
  height: 200px;
  width: 200px;
  margin: 30px;
  display: flex;
}

.gold {
  display: inline-block;
  justify-content: center;
}

.silver {
  display: inline-block;
}

.bronze {
  display: inline-block;
}

.goldSponsors {

}
.goldSponsors p {
  color: #FFD700;

}

.silverSponsors p {
  color: #C0C0C0;
}

.bronzeSponsors p {
  color: #CD7F32;
}

.background {
  background-image: url('assets/teamphoto.jpg');
}
