.sponsorThanks {
  max-width: 1040px;
  margin: auto;
}

.sponsorHeader h2 {
  position: relative;
  font-weight: 500;
  font-size: 175%;
}

.sponsor-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-image:
    linear-gradient(to bottom, rgba(17,17,17,0.95), rgba(255,213,79,0.4)),
    url('assets/teamphoto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}

.sponsorBody {
  width: 100%;
  margin-top: 15%;
}

.sponsors {
  max-width: 1040px;
  margin: 0 auto;
  width: 50%;
}


.Paper {
  height: 200px;
  width: 200px;
  margin: 30px;
  display:flex;
  text-align: center;
}

.gold {
  display: inline-block;
  justify-content: center;
}

.silver {
  display: inline-block;
}

.bronze {
  display: inline-block;
}

.goldSponsors,
.silverSponsors,
.bronzeSponsors {
  text-align: center;
}

.goldSponsors h3 {
  color: #FFD700;
  text-align: center;

}

.silverSponsors h3 {
  color: #C0C0C0;
  text-align: center;
}

.bronzeSponsors h3 {
  color: #CD7F32;
  text-align: center;
}

.sponsorMessage {
  margin: auto;
  max-width: 1040px;
}

h3 {
  font-weight: 500;
}
